
/* header div */
#header-div {
    margin-bottom: 40px;
}

/* gifs buttons */
.gifs-btn {
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
    color: #ffffff;
    background: #44b9b3;
}

/* gif header */
#gif-header {
    margin-top: 20px;
}

/* add gifs button */
#add-gif {
    background: #b20000;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 25px;
}

/* gif div */
.gif div {
    margin-bottom: 30px;
}

/* gif title */
.title {
    font-size: 18px;
    margin-bottom: -3px;
}

/* gif rating */
.rating {
    font-size: 14px;
    margin-bottom: 5px;
}
